html {
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding-bottom: .2em;
}

h1 {
  font-family: "Sigmar One";
  text-align: center;
  color: #b20953;
  margin: 0;
  font-size: 3rem;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  background-color: #b2a212;
  color: #fff;
  border-radius: 4px;
  padding: .3em  .5em;
  line-height: 1.5;
  margin-bottom: .3em;
}

nav {
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-family: Georgia;
  font-size: 1.125rem;
  margin: 0;
}

.nav :hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #b20953;

}

h2 {
  text-align: left;
  font-family: "Sigmar One";
  color: #b20953;
  font-size: 1.875rem;
  margin-left: .3em;
  padding: 0;
}

main {
  margin-left: .3em;
}

.ip {
  font-family: Georgia;
  margin-left: .3em;
  line-height: 1.5;
}

.ip b {
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: 1.5em;
}

img {
  display: block;
  margin: .5em;
  width: 100%;
}
